{% extends 'layout.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block css %}{% endblock %}
{% block content %}
    <div class="main-container">    <!-- START: Main Container -->

        <div class="page-header">
            <h1>Dashboard</h1>
        </div>

      <!--  <div class="content-wrap">  <!--START: Content Wrap-->

           <div class="row">
              <!--  <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 table-responsive"><div id="piechart_3d_publication" style="width: 1000px; height: 300px;"></div></div>


                    </div><br><br> !-->
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-th-list fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ publication | length }}</div>
                                        <div>Toutes mes publications</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer" data-toggle="modal" data-target="#myModal">
                                    <span class="pull-left" >Voir détails</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ publicationapprouver | length }}</div>
                                        <div>Publications approuvées</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer" data-toggle="modal" data-target="#myModal1">
                                    <span class="pull-left">Voir détails</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-times fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ publicationdeapprouver | length }}</div>
                                        <div>Publication désapprouvées</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer" data-toggle="modal" data-target="#myModal2">
                                    <span class="pull-left">Voir détails</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-star fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{ publicationenattente | length }}</div>
                                        <div>Publication en attente</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer" data-toggle="modal" data-target="#myModal3">
                                    <span class="pull-left">Voir détails</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>




            <!-- les dialog-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Toutes mes publications</h4>
                        </div>
                        <div class="modal-body">
                            <ol>
                                {% for publication in publication %}
                                    <li><a href="#">{{ publication.titre }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Publications Approuvées</h4>
                        </div>
                        <div class="modal-body">
                            <ol>
                                {% for publication in publicationapprouver %}
                                    <li><a href="#">{{ publication.titre }}</a></li>
                                {% endfor %}

                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Publications déapprouvée</h4>
                        </div>
                        <div class="modal-body">
                            <ol>
                                {% for publication in publicationdeapprouver %}
                                    <li><a href="#">{{ publication.titre }}</a></li>
                                {% endfor %}
                            </ol>                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Publications en attente</h4>
                        </div>
                        <div class="modal-body">
                            <ol>
                                {% for Publication in publicationenattente %}
                                    <li><a href="#">{{ Publication.titre }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Toutes mes Commentaires</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Commentaire approuvée</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Commentaire deapprouvée</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Commentaire notée</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>  <!--END: Content Wrap-->



    </div>  <!-- END: Main Container -->
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/chart-morris.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jsapi.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/loader.js') }}"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Publication approuvée',      {{ publicationapprouver | length }}],
                ['Publication déapprouvée',  {{ publicationdeapprouver | length }}],
                ['Publication en attente',  {{ publicationenattente | length }}],

            ]);

            var options = {
                title: "Mes Publications : {{ publication | length }}",
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_publication'));
            chart.draw(data, options);
        }
    </script>
    <!--
    <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Toutes mes Commentaires',     8],
                ['Commentaires approuvée',      6],
                ['Commentaires déapprouvée',  2],
            ]);

            var options = {
                title: 'Mees Commentaires',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_commentaire'));
            chart.draw(data, options);
        }
    </script>
    <script>
        jQuery(document).ready(function () {
            MorrisCharts.init();
        });
    </script>
    -->
{% endblock %}