{% extends "layout.html.twig" %}
{% block preloader %}
{% endblock %}
{% block content %}

    <section class="">
        <div class="container mt-30 mb-30 p-30">
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="row multi-row-clearfix">
                            <div class="products">
                                {% for produit in Produits %}

                                    <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                                        <div class="product" style="padding-bottom: 0px">
                                            <span class="tag-sale">Sale!</span>
                                            <div class="product-thumb">
                                                {#listes des produits yolo#}

                                                <img style="width: 250px;height: 250px;" alt="image"   src="{{  absolute_url(asset(produit.image)) }}" class="img-responsive ">

                                                <div class="overlay">
                                                    <div class="btn-add-to-cart-wrapper">
                                                        <a onclick="addToCart('{{ produit.id }}')" class="btn btn-theme-color-red btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" >Add To Cart</a>
                                                    </div>

                                                    <div class="btn-product-view-details">
                                                        <a class="btn btn-default btn-theme-color-sky btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#{{ produit.id }}" data-toggle="modal">View detail</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-details text-center bg-lighter pt-15 pb-10">
                                                <a href="#"><h5 class="product-title mt-0"> {{ produit.nom }}</h5></a>
                                                <div class="star-rating" title="Rated 3.50 out of 5"><span data-width="67%">2</span></div>
                                                <div class="price"><del><span class="amount"> {{ produit.prix }} DT </span></del><ins><span class="amount">{{ produit.prix }} DT</span></ins></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}


                                <div class="col-sm-6 col-md-4 col-lg-4 mb-30">


                                </div>
                                <div class="col-md-12">
                                    <nav>
                                        <ul class="pagination theme-colored mt-0">
                                            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">...</a></li>
                                            <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="sidebar sidebar-right mt-sm-30">
                            <div class="widget">
                                <h5 class="widget-title line-bottom">Search box</h5>
                                <div class="search-form">
                                    <form>
                                        <div class="input-group">
                                            <input type="text" placeholder="Click to Search" class="form-control search-input">
                                            <span class="input-group-btn">
                            <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                          </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget">
                                <h5 class="widget-title line-bottom">Categories</h5>
                                <div class="categories">
                                    <ul class="list list-border angle-double-right">
                                        <li><a href="#">Creative<span>(19)</span></a></li>
                                        <li><a href="#">Portfolio<span>(21)</span></a></li>
                                        <li><a href="#">Fitness<span>(15)</span></a></li>
                                        <li><a href="#">Gym<span>(35)</span></a></li>
                                        <li><a href="#">Personal<span>(16)</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget">
                                <h5 class="widget-title line-bottom">Top Sellers</h5>
                                <div class="top-sellers">
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a class="post-thumb" href="#"><img src="{{ asset('images/products/sm1.jpg')}}" alt=""></a>
                                        <div class="post-right">
                                            <h5 class="post-title font-weight-600 mt-0 mb-0"><a href="#">Product Name</a></h5>
                                            <div class="product-detail">
                                                <div class="price mb-10"><ins><span class="amount">$480.00</span></ins></div>
                                                <div title="Rated 3.50 out of 5" class="star-rating ml-0"><span data-width="60%">3.50</span></div>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                            </div>
                            <div class="widget">
                                <h5 class="widget-title line-bottom">Photos from Flickr</h5>
                                <div id="flickr-feed" class="clearfix">
                                    <!-- Flickr Link -->
                                    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
